body{
    margin:0px;
}
#body-header{
    height:65vh;
    opacity:0.8;
    background-image:url(1584528545phpdljDz1.jpeg);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}
.horizontal-list{
    list-style:none;
    padding-left:0px;
}
.horizontal-list li{
    display:inline-block;
    margin:0px 20px 20px 0px;
}
.horizontal-list li a{
    color:white;
    text-decoration:none;
    transition: color 0.5s, border-bottom 4s;
}
.text-center{
    text-align:center;
}
.horizontal-list li a:hover{
    color:lightgrey;
    border-bottom:1px solid white;
}
#my-name{
    font-size:3rem;
    letter-spacing:0.1rem;
    color:white;
    font-weight:700;
    margin-bottom:0.5rem;
}
#name-social-container{
    margin-top:20vh;
}

.social-icons li a{
    padding:10px;
    font-size:1rem;
    border-radius:50%;
    color:white;
}
.social-icons li a:hover{
    box-shadow:0px 0px 6px 4px lightgrey;
}

#about{
    height:auto;
    width:100%;
    position:relative;
}
#my-image{
    height:12rem;
    width:12rem;
    margin:auto;
    margin-top:-17vh;
}
#my-image img{
    height:100%;
    width:100%;
    border-radius:50%;
    color:white;
}
#my-image img:hover{
    box-shadow:0px 0px 6px 4px lightgrey;
}
#para{
    margin-left:17rem;
    margin-right:17rem;
    color:darkmagenta;
}
.mb75px{
    margin-bottom:75px;
}
.mb-blue{
    background-color:#2857a4;
    margin: 10px 20px;
    z-index: 3;
}
.text-highlight{
    color:#2857a4;
    font-weight:600;
}
section{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
section:nth-child(2n){
    background-color:grey;
}
section:nth-child(2n+1){
    background-color:white;
}
section:target{
    background-color:cyan;
}
#skills{
    height:500px;
    width:auto;
    background-image:linear-gradient(red,blue);
    display:flex;
    justify-content:center;
    z-index: 1;
}
.section-heading{
    width:auto;
    padding:20px 10px 10px;
    margin:10px auto;
    font-weight:400;
}
.section-heading span{
    font-size:40px;
    color:blue;
    display:inline-block;
    padding-top:10px;
    margin-right:0.5rem;
}
.skills-display{
    width:70%;
}
.skills-progress{
    background-color:lightgrey;
    border-radius:40px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    z-index: 2;
}
.skills-name span{
    color:white;
    font-size:1rem;
    margin-left:10px;
    margin-right:10px;
}
.skills-progress div{
    border-radius:20px 0px 0px 20px;
}
.eighty-five-percent{
    width:85%;
    height:inherit;
}
.fifty-five-percent{
    width:55%;
    height:inherit;
}
.fourty-five-percent{
    width:45%;
    height:inherit;
}
.thirty-five-percent{
    width:35%;
    height:inherit;
}
.fifty-percent{
    width:50%;
    height:inherit;
}
.seventy-five-percent{
    width:75%;
    height:inherit;
}
.five-percent{
    width:5%;
    height:inherit;
}